<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mod details</title>
</head>
<body>

</body>
</html>
    <ul>

        <li><a href="/mods/{{ mod.id }}/">{{ mod.mod_title }}</a></li>
         <li><a href="/mods/{{ mod.id }}/">{{ mod.mod_author }}</a></li>
         <li><a href="/mods/{{ mod.id }}/">{{ mod.mod_game }}</a></li>
         <li><a href="{{ mod.mod_source }}">{{ mod.mod_source }}</a></li>
         <li><a href="/mods/{{ mod.id }}/">{{ mod.mod_description }}</a></li>

    </ul>
