<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game List</title>
</head>
<body>
    <form type="get" action="search.html" style="margin: 0">
        <input  id="search" type="text" name="search"  placeholder="Search..." >
        <button id="search_submit" type="submit" >Submit</button>
    </form>
    {% if game_list %}
        <ul>
        {% for mod in game_list %}
            <li><a href="/mods/search/">{{mod.mod_game}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
</body>
</html>

