<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}

<h1>Search</h1>

<form action="search.html" method="post">
    <label for="search">Search</label>
    <input id="search" type="text" name="search">
    <input type="submit" value="Search">
</form>
